.wraper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.imageButton {
  border-radius: 1em;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 0;
  transition: all 0.2s ease;
}

.imageContainer {
  position: relative;
  max-width: 10em;
  max-height: 10em;
  aspect-ratio: initial;
  border-radius: inherit;
  overflow: hidden;
}

.imageButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
  transition: all 0.2s ease;
}

.imageButton:hover {
  border: 2px solid var(--accent-color-1);
  box-shadow: 0 0 7px var(--accent-color-1);
}

.imageButton:hover img {
  transform: scale(1.04);
}
