.nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  transform: translateX(calc(-1 * var(--curtain-center-distance)));
  width: 100%;
  position: relative;
  z-index: 2;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.9em;
  z-index: 2;
  padding: 0;
}

.list a {
  color: var(--color-foreground-primary);
  font-size: 1em;
  transition: all 0.2s eese;
}

.list a:hover,
.list a:focus-within {
  color: var(--accent-color-1);
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .nav {
    order: 1;
    justify-content: center;
    transform: none;
    font-size: 1.3em;
    margin-top: 0em;
  }
}
