:root {
  --main-font: "Fira Sans", sans-serif;
  --headline-font: "Fira Sans", sans-serif;

  --background-img: url(../assets/background.png);
  --background-color: #e7dfdc;
  --main-color: #2d2d2d;
  --accent-color-1: #ec3a04;
  --accent-color-2: #188d82;
  --accent-color-3: #337f22;
  --footer-focus-color: #195115;
  --focus-color: var(--accent-color-3);

  --curtain-center-distance: 5em;

  --animation-speed-curtain: 0.9s;
  --delay-curtain: 2s;

  --animation-speed-rotation: 0.9s;
  --delay-rotation: calc(
    var(--delay-curtain) + var(--animation-speed-curtain) + 0.5s
  );
  --animation-function-rotate: ease-in-out;

  --animation-speed-typewriter: 0.12s;
  --delay-typewriter: calc(
    var(--delay-rotation) + var(--animation-speed-rotation) + 0.5s
  );
  --caret: 2px solid;

  --animation-speed-skills: 0.2s;
  --animation-function-skills: ease-out;
  --delay-skills: calc(
    var(--delay-typewriter) + 30 * var(--animation-speed-typewriter)
  );

  --delay-hobbies: calc(
    var(--delay-skills) + 8 * var(--animation-speed-skills)
  );

  --delay-about-me: 0.3s;
}

:root[data-theme="dark"] {
  --background-img: url(../assets/background-night.png);
  --background-color: #0a0a0a;
  --main-color: #eeeeee;
  --accent-color-1: #ff5f1f;
  --accent-color-2: #1bf0d7;
  --accent-color-3: #39ff3f;
  --focus-color: var(--accent-color-3);
  --footer-focus-color: var(--accent-color-3);
}

@media (max-width: 1100px) {
  :root {
    --delay-rotation: var(--delay-curtain);
  }
}
