html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0 1em;
}

body {
  background-color: var(--color-surface-primary);
  font-family: var(--main-font);
  color: var(--color-foreground-primary);
  display: grid;

  background-image: var(--background-img);
  background-size: 70%;

  background-position: center top;
  background-repeat: repeat;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--focus-color);
  outline-offset: 2px;
}

.accent-color-1 {
  color: var(--accent-color-1);
}

.accent-color-2 {
  color: var(--accent-color-2);
}

.accent-color-3 {
  color: var(--accent-color-3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:not([class]) {
  color: var(--accent-color-1);
  text-decoration: none;
  background-image: linear-gradient(
    var(--accent-color-1),
    var(--accent-color-1)
  );
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: background-size 0.25s ease;
}

a:not([class]):hover {
  background-size: 100% 2px;
}

h1 {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  font-size: 3em;
}

.animate-in {
  opacity: 0;
}

@media (max-width: 1000px) {
  body {
    background-size: 700px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: clamp(0.4rem, 0.4rem + 0.5vw, 2rem);
  }
}

@media (prefers-reduced-motion: reduce), (scripting: none) {
  .animate-in {
    opacity: 1;
  }
}
